<h1 class="training_head">トレーニング編集</h1>

<%= form_for @training do |f| %>
	<div class="row">
		<div class="col-md-2 offset-md-3">種目名</div>
		<div class="col-md-4">
			<%= f.text_field :name, class: "form-control" %>
		</div>
		<div class="offset-md-3"></div>
	</div><br>

	<div class="row">
		<div class="col-md-2 offset-md-3">トレーニング部位</div>
		<div class="col-md-4">
			<%= f.collection_select :muscle_id, Muscle.all, :id, :name, include_blank: "--選択してください--" %>
		</div>
		<div class="offset-md-3"></div>
	</div><br>

	<div class="row">
		<div class="col-md-2 offset-md-3">食事記録(5枚まで)</div>
		<div class="col-md-4">
			<%= f.attachment_field :training_images_images, multiple: true %>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-2 offset-md-3">備考</div>
		<div class="col-md-4">
			<%= f.text_area :body, class: "form-control" %>
		</div>
	</div><br>
	<%= f.hidden_field :user_id, :value => current_user.id %>

	<div class="row">
		<div class="offset-md-5"></div>
		<div class="col-md-4 text-right">
			<%= f.submit "更新", class: "btn btn-success" %>
		</div>
	</div>
<% end %>