<h1>トレーニング詳細</h1>

<img src=<%= @training.user.image %> class = "icon_image">
<p><%= @training.user.name %>
<p>種目: <%= @training.name %></p>
<p>トレーニング部位: <%= @training.muscle.name %></p>
<p>備考: <%= simple_format @training.body %></p>

<% if @training.user.id == current_user.id %>
	<%= link_to "編集", edit_training_path(@training.id) %>
	<%= link_to "削除", training_path, method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>