<h3><%= @user.name %>のフォロワー</h3>
<% if @user.followers.count == 0 %>
	<p>ユーザはいません</p>
<% else %>
	<table class="table">
		<% @user.followers.each do |follower| %>
			<tr>
				<td><%= image_tag follower.image_id.url, class: "index_icon_image" %></td>
				<td>
					<%= link_to user_path(follower.id) do %>
						<%= follower.name %>
					<% end %>
				</td>
				<td>フォロー数: <%= follower.active_relationships.count %></td>
				<td>フォロワー数: <%= follower.passive_relationships.count %></td>
			</tr>
		<% end %>
	</table>
<% end %>