<% if @weight_data.present? %>
  <div class="chart-area">
    <canvas id="chart">
    </canvas>
  </div>
<% else %>
  <p class="notchart">体重の記録がありません</p>
<% end %>

<div class="weight-form">
  <%= form_for(@weight) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <%= f.label :日付 %>
    <%= f.date_select :when, class: 'form-control' %>日</label><br>

    <%= f.label :体重 %>
    <%= f.text_field :value %> kg<br>

    <%= f.submit "記録", class: "btn btn-primary" %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>
<div>

<% if @weight_data.present? %>
  <div>
    <table class="table">
      <% @weights.each do |record| %>
        <tr>
          <td><%= record.when %></td>
          <td><%= record.value %>kg</td>
          <td><%= link_to "削除", weight_path(record.id), method: :delete, data: {confirm: 'この記録を削除しますか？'}, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% if @weight_data.present? %>
  <div class="pagenate"><%= paginate @weights %></div>
<% end %>

<script>
  "use strict"

  {
    // let date = gon.weight_when;
    // let value = gon.weight_data;

    let chart = document.getElementById("chart");
    let ctx = chart.getContext("2d");
    let type = "line";
    let data = {
      labels: gon.weight_when,
      datasets: [{
        label: "体重",
        data: gon.weight_data
      }]
    };
    let options;

    let myChart = new Chart(ctx, {
      type: type,
      data: data,
      opitions: options
    });
  }

</script>